@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    /* Colors */
    --orange : #EC7A1C;
    --light-orange: #F1C2A7;
    --bg: #F1EEE9;
    --white: #F9F9FA;
    --dark-gray: #6b7280;
    --red: #E33E3E;

    /* Font */
    --general-font: "Inter", sans-serif;
}

*{
    font-family: var(--general-font);
}

.help-container{
    display: flex;
    flex-direction: row;
    background-color: var(--bg);
    overflow-x: auto;
}

.help-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
}
.help-content h1{
    font-family: var(--general-font);
    color: black;
    font-size: 24px;
    margin: 30px 0px 0px 20px;
}

.help-content p{
    font-family: var(--general-font);
    color: var(--dark-gray);
    font-size: 14px;
    margin: 10px 0px 0px 0px;
}

.search-bar-container {
    display: flex;
    margin: 20px;
    gap: 10px;
    width: 50%;
    position: relative;
} 

.search-bar-container input {
    flex: 1;
    padding: 10px 10px 10px 35px;
    border: 1px solid var(--dark-gray);
    border-radius: 10px;
    font-size: 14px;
    background-color: var(--white);
    color: black;
}

.search-bar-container svg{
    color: var(--dark-gray);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20%;
    left: 1%;
}

.top-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.nav-help-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-help-content{
    background-color: var(--white);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.nav-faqs {
    font-family: sans-serif;
    width: -webkit-fill-available;
    padding: 20px;
}

.nav-faqs h2{
    color: black;
    font-size: 16px;
    font-weight: normal;
    margin-top: 0px;
}

.category-tabs {
    display: flex;
    justify-content: space-around;
    background-color: var(--orange);
    border-radius: 20px;
    margin: 0px 100px 20px 100px;
}

.category-tabs .MuiTab-root {
    flex: 1;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 12px;
    transition: color 0.3s;
    border-radius: 15px;
    min-height: auto;
    color: var(--white);
}

.category-tabs .MuiTab-root.Mui-selected {
    color: var(--orange);
    background-color: var(--white);
    margin: 5px;
    border-radius: 15px;
    border: none;
}

.category-tabs .MuiTabs-indicator {
    display: none;
}

@media (max-width: 1020px) {
    .category-tabs{
        width: 100%;
        margin: 0px 0px 20px 0px !important;
    }

    .search-bar-container{
        width: 100%;
    }

    .top-content{
        margin: 0px 10px;
    }
}
