@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --orange: #ec7a1c;
  --light-orange: #f1c2a7;
  --bg: #f1eee9;
  --white: #f9f9fa;
  --dark-gray: #6b7280;
  --general-font: "Inter", sans-serif;
}

.market-basket-container {
  display: flex;
  flex-direction: row;
  background-color: var(--bg);
  font-family: var(--general-font);
  min-height: 100vh;
}

.market-basket-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  margin: 0px 20px;
}

.market-basket-header {
  margin: 30px 0px 0px 20px;
}

.market-basket-header h1 {
  font-family: var(--general-font);
  color: black;
  font-size: 24px;
  margin-bottom: 8px;
}

/* Grid Layout */
.market-basket-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr; 
  grid-template-rows: auto auto auto auto 130px;
  gap: 12px;
  padding: 20px;
}

/* Common Box Style */
.market-basket-div1,
.market-basket-div2,
.market-basket-div3,
.market-basket-div4,
.market-basket-div5,
.market-basket-div6,
.market-basket-div7,
.market-basket-div8,
.market-basket-div9,
.market-basket-div10 {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  padding: 16px;
  color: black;
  font-family: var(--general-font);
}

/* Product Category */
.market-basket-div1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

/* Food Trays Chart */
.market-basket-div2 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

/* Often Bought With */
.market-basket-div3 {
  grid-column: 1 ; /*span 1;*/
  grid-row: 3 / span 1;
}

/* Product Recommendations */
.market-basket-div4 {
  grid-column: 1 / span 1;
  grid-row: 4 / span 3;
}

/* Revenue vs Products */
.market-basket-div5 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
}

/* Top 10 Most Sold */
.market-basket-div6 {
  grid-column: 3 / span 1;
  grid-row: 1 / span 2;
}

/* Top 10 Least Sold */
.market-basket-div7 {
  grid-column: 4 / span 1;
  grid-row: 1 / span 2;
}

/* Top 10 Combinations by Lift */
.market-basket-div8 {
  grid-column: 2 / span 2;
  grid-row: 3 / span 2;
}

/* How to Interpret */
.market-basket-div10 {
  grid-column: 2 / span 2;
  grid-row: 5 / span 2; /* Just row 5 */
}

/* Top 10 Combinations by Support */
.market-basket-div9 {
  grid-column: 4;
  grid-row: 3 / span 4; 
}


/* Content Titles */
.market-basket-content1,
.market-basket-content2,
.market-basket-content3,
.market-basket-content4,
.market-basket-content5,
.market-basket-content6,
.market-basket-content7,
.market-basket-content8,
.market-basket-content9 {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 8px;
}

.market-basket-content select {
  margin-bottom: 10px;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 13px;
  width: 100%;
  background-color: transparent;
  color: black;
}

/* Placeholder Style */
.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  color: #999;
  font-style: italic;
  margin-top: 10px;
  border: 2px dashed #ddd;
  border-radius: 8px;
}

.tableau-responsive-wrapper {
  position: relative;
  width: 100%;
  padding-top: 50%; 
}

.tableau-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; 
  border-radius: 12px; 
}