@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    /* Colors */
    --orange : #EC7A1C;
    --light-orange: #F1C2A7;
    --bg: #F1EEE9;
    --white: #F9F9FA;

    /* Font */
    --general-font: "Inter", sans-serif;
}

.sidebar {
  width: 240px;
  background-color: white;
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
}

.sidebar svg{
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
}

.sidebar-logo-img {
  width: 170px;          
  height: auto;        
  border-radius: 8px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.sidebar-content {
  padding: 16px;
  flex: 1;
  /*overflow-y: auto;*/
}

.sidebar-section {
  margin-bottom: 16px;
}

.sidebar-title {
  font-size: 12px;
  text-transform: uppercase;
  color: #6b7280;
  margin-bottom: 8px;
}

.sidebar-button {
  display: block;
  max-width: auto;
  padding: 8px 12px;
  font-size: 14px;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  color: #374151;
  transition: background-color 0.2s;
}

.sidebar-button:hover {
  background-color: var(--light-orange);
  color: #374151;
}

.sidebar-button.active {
  background-color: #f97316;
  color: white;
  font-weight: 500;
}
