@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --orange: #ec7a1c;
  --light-orange: #f1c2a7;
  --bg: #f1eee9;
  --white: #f9f9fa;
  --dark-gray: #6b7280;
  --general-font: "Inter", sans-serif;
}

.whatif-container {
  display: flex;
  flex-direction: row;
  background-color: var(--bg);
  font-family: var(--general-font);
  min-height: 100vh;
}

.whatif-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.whatif-header {
  margin: 30px 0px 0px 20px;
}

.whatif-header h1 {
  font-family: var(--general-font);
  color: black;
  font-size: 24px;
  margin-bottom: 8px;
}

.whatif-sales-header h2 {
  font-size: 16px;
  font-weight: 700;
  color: black;
  margin: 0px;
  padding-left: 25px;
}

/* Grid Layout */
.whatif-grid {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
  grid-template-rows: auto auto 400px;
  gap: 12px;
  padding: 20px;
}

/* Common Box Style */
.whatif-div1,
.whatif-div2,
.whatif-div3,
.whatif-div4,
.whatif-div5 {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  padding: 16px;
  color: black;
  font-family: var(--general-font);
}

/* Grid Placement */
.whatif-div1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

.whatif-div2 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
}

.whatif-div3 {
  grid-column: 3 / span 2;
  grid-row: 1 / span 1;
}

.whatif-div4 {
  grid-column: 3 / span 2;
  grid-row: 2 / span 1;
}

.whatif-div5 {
  grid-column: 1 / span 4;
  grid-row: 3 / span 1;
}

/* Titles */
.whatif-content1,
.whatif-content2,
.whatif-content3,
.whatif-content4,
.whatif-content5 {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 8px;
}

/* Placeholder Style */
.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  color: #999;
  font-style: italic;
  margin-top: 10px;
  border: 2px dashed #ddd;
  border-radius: 8px;
}
